*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
/* Body */
body{
  min-height: 100vh;
  background: #1E1E2E;
}
/* end Body */

/* HeaderLoginLayout */
.HeaderLoginLayout{
  position: relative;
  height: 100px;
  width: 100%;
  background: #1E1E2E;
}
.HeaderLogin_menu_dropdown{
  position: absolute;
  top: 40px;
  right: 160px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  color: white;
  background: #1E1E2E;
}
/*End HeaderLoginLayout */
/* ============================================================ */
/* HeaderMenuPage */
.HeaderLayoutMenu{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 180px;
  box-sizing: initial;
  border-radius: 5px 10px 10px 5px;
  background: #020220;
  transition: width 0.5s;
  z-index: 10;
}
.HeaderLayoutMenu ul{
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.HeaderLayoutMenu_imgLogo{
  width: 100px;
  height: 100px;  
  border-radius: 50%;
  margin-left: 42px;
  margin-bottom: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeaderLayoutMenu_imgLogo img{
  width: 70px;
  height: 70px;
}
.HeaderLayoutMenu ul li{
  position: relative;
  width: 100%;
  height: 65px;
  list-style: none;
  margin-top: 15px;
}
.HeaderLayoutMenu ul li a{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #C8C8DB;
}
.HeaderLayoutMenu ul li a:hover{
  color: #FF7506;
}
.HeaderLayoutMenu_icon {
  position: relative;
  display: block;
  height: 40px;
  min-width: 60px;
  line-height: 55px;
  text-align: center;
  font-size: 22px;
}
.HeaderLayoutMenu_title{
  position: relative;
  font-size: 14px;
  margin-top: 5px;
}
.HeaderLayoutMenu_title .HeaderLayoutMenu_dot{
  position: absolute;
  top: -20px;
  right: 10px;
  font-size: 20px;
}
.HeaderLayoutMenu ul .HeaderLayoutMenu_List.active::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 4px;
  right: 162px;
  background: #FF7506;  
  border-radius: 6px;
  transition: 0.5s;
}
.HeaderLayoutMenu ul .HeaderLayoutMenu_List.active a{
  color: #FF7506;
}
/*End HeaderMenuPage */
/* ============================================================ */
/* Header Page */
.HeaderPage{
  position: relative;
  width: 100%;
  height: 80px;
  background: #1E1E2E;
}
.HeaderPage_menuDropDown{
  position: absolute;
  top: 22px;
  right: 250px;
}
.HeaderPage_UserManage{
  position: absolute;
  top: 7px;
  right: 80px;
  display: flex;
}
.HeaderPage_UserManage_Button{
  display: flex;
  width: 140px;
  height: 60px;
  border-color: #1E1E2E;
  cursor: pointer;
}
.HeaderPage_UserManage_Title{
  margin-left: 10px;
}
/*End Header Page */
/* ============================================================ */
/* Login Page */
.LoginPage{
  color: white;
  background: #1E1E2E;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid yellow; */
}
.LoginPage h2{
  margin-top: 30px;
}
.LoginPageImg {
  background: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginPageImg img{
  height: 180px;
  width: 180px;
}
.LoginForm{
  width: 400px;
  color: white;
}
/* Label */
:where(.css-dev-only-do-not-override-htwhyh).ant-form-item .ant-form-item-label >label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: white;
  font-size: 14px;
  padding-left: 10px;
}
/* text-color-input name*/
:where(.css-dev-only-do-not-override-htwhyh).ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  border-color: #ff4d4f;
  color: white;
}
/* text-color-input pass*/
:where(.css-dev-only-do-not-override-htwhyh).ant-input-affix-wrapper >input.ant-input {
  padding: 0;
  font-size: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  color: white;
  /* font-size: 20px; */
}
:where(.css-dev-only-do-not-override-htwhyh).ant-input {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #2B2B3F;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #2B2B3F;
  border-radius: 6px;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-input-affix-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #2B2B3F;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #2B2B3F;
  border-radius: 6px;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: orangered;
  cursor: pointer;
  transition: all 0.3s;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-checkbox+span {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  color: white;
}
a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  touch-action: manipulation;
  color: white;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-input:focus, :where(.css-dev-only-do-not-override-htwhyh).ant-input-focused {
  border-color: #2B2B3F;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-form label {
  font-size: 13px;
}
.Dropdown_logo img{
  width: 21px;
  height: 20px;
  border-radius: 50%;  
  margin-left: 5px;
}
/*End Login Page */
/* ============================================================ */
/* Admin User Information */
.AdminUserInfor{
  position: relative;
  padding: 0 50px;
  min-height: 90.3vh;
  background: #1E1E2E;
  color: white;
  text-align: left;
}
.AdminUserInfor_Content{
  display: flex;
  position: relative;
}
.AdminUserInfor_Avatar{
  position: relative;
  width: 25%;
  padding-left: 30px;
  padding-top: 15px;
}
.AdminUserInfor_Avatar .AdminUserInfor_Avatar_icon{
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  left: 148px;
  top: 162px;
  border-radius: 50%;
  background-color: rgba(30, 30, 46, 0.8);
  cursor: pointer;
}
.AdminUserInfor_Avatar_icon .iconBs{
  width: 25px;
  height: 25px;
}
.AdminUserInfor_Avatar_title{
  font-size: 20px;
  padding: 10px 58px;
}
.AdminUserInfor_Input{
  width: 65%; 
}
.AdminUserInfor_Input_btn button{
  width: 140px;
  border-radius: 6px;
  margin-top: 15px;
}
.AdminUserInfor_Input_btn .btn_Huy{
  margin-left: 110px;
  background: #1E1E2E;
  border-color: #FF7506;
  color: #FF7506;
}
.AdminUserInfor_Input_btn .btn_Luu{
  margin-left: 15px;
  background: #FF7506;
  color: white;
}
.AdminUserInfor_Setting{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: -50px;
  width: 7%;
  border-radius: 15px 0px 0px 15px;
  background: #2F2F41;
}
.AdminUserInfor_Setting_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
.AdminUserInfor_Setting_item_icon{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 5px;
  background: #515164;
}
.AdminUserInfor_Setting_item_icon .Setting_icon{
  width: 25px;
  height: 25px;
  color: #FF7506
}
.AdminUserInfor_Setting_item_title{
  color: #C1C1C6;
}
.AdminUserInfor_Modal{
  position: absolute;
  min-width: 500px;
  left: 35%;
  top: 7%;
  padding: 30px 30px;
  background: #3E3E5B;
  border-radius: 10px;
}
.AdminUserInfor_Modal_btn button{
  width: 140px;
  border-radius: 6px;
  margin-top: 15px;
}
.AdminUserInfor_Modal_btn .btn_Huy{
  margin-left: 60px;
  background: #3E3E5B;
  border-color: #FF7506;
  color: #FF7506;
}
.AdminUserInfor_Modal_btn .btn_Luu{
  margin-left: 50px;
  background: #FF7506;
  color: white;
}
.AdminUserInfor_Notification{
  display: flex;
  align-items: center;
  padding: 16px 24px;
  width: 290px;
  height: 60px;
  border-radius: 12px;
  background: #727288;
  flex-direction: row;
  margin-left: 445px;
  margin-top: 80px;
  transition: 0.8s;
}
.Icon_Notification
{
  width: 35px;
  height: 35px;
  color: #18E306;
  margin-right: 16px;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-form-item .ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
  margin-left: 15px;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-form-vertical .ant-form-item-label, :where(.css-dev-only-do-not-override-htwhyh).ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-htwhyh).ant-col-xl-24.ant-form-item-label {
    margin: 0;
    padding: 0 0 8px;
    white-space: initial;
    text-align: start;
    margin-left: 8px;
}
/* Disabled */
:where(.css-dev-only-do-not-override-htwhyh).ant-input-disabled, :where(.css-dev-only-do-not-override-htwhyh).ant-input[disabled] {
  background-color: #3E3E50;
  border-color: #2B2B3F;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
  color: rgba(147, 145, 145, 0.8);
}
/* Error */
:where(.css-dev-only-do-not-override-htwhyh).ant-form-item .ant-form-item-explain-error {
  color: #ff4d4f;
  margin-left: 15px;
}
/* DatePicker */
:where(.css-dev-only-do-not-override-htwhyh).ant-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px 4px;
  color: white;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #2B2B3F;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  border-color: #2B2B3F;
  transition: border 0.2s,box-shadow 0.2s;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-picker .ant-picker-input >input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 1px;
  padding: 0;
  color: white;
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0;
  transition: all 0.2s;
  flex: auto;
  height: auto;
  background: transparent;
  border: 0;
}
.ant-picker-input .anticon-calendar svg{
  display: inline-block;
  color: #FF7506;
  font-size: 18px;
  background: #2B2B3F;
}
.ant-picker-clear .anticon-close-circle svg{
  display: inline-block;
  color: #FF7506;
  font-size: 18px;
  background: #2B2B3F;
}
/*End Admin User Information */
/* ============================================================ */
/* AdminContractManagement */
.AdminContractManagements{
  background: #1E1E2E;
  color: white;
  min-height: 90.3vh;
}
/* Breadcrumb */
:where(.css-dev-only-do-not-override-htwhyh)[class^="ant-breadcrumb"] [class^="ant-breadcrumb"], :where(.css-dev-only-do-not-override-htwhyh)[class*=" ant-breadcrumb"] [class^="ant-breadcrumb"], :where(.css-dev-only-do-not-override-htwhyh)[class^="ant-breadcrumb"] [class*=" ant-breadcrumb"], :where(.css-dev-only-do-not-override-htwhyh)[class*=" ant-breadcrumb"] [class*=" ant-breadcrumb"] {
    box-sizing: border-box;
    color: gray;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-breadcrumb .ant-breadcrumb-separator {
    margin-inline: 8px;
    color: #FFAC69;
}
.AdminContractManagements_Content{
  text-align: left;
  padding-left: 58px;
}
.AdminContractManagement_Switch_Admin{
  margin-top: 24px;
  display: flex;
  width: 350px;
  flex-direction: row;
  align-items: flex-start;
  line-height: 24px;  
  gap: 5px;
  cursor: pointer;
  border: 1px solid #B65100;
  border-radius: 24px;
  transition: 0.8s;
}
.AdminContractManagement_Switch.active{
  padding: 8px 24px;
  background: #B65100;  
  border-radius: 24px;
}
.AdminContractManagement_Switch{
  padding: 8px 24.5px;
}
.AuthorizationContract{
  margin-top: 25px;
}
.AuthorizationContract_Setting_Select{
  display: flex;
}
.AuthorizationContract_list{
  width: 75vw;
}
.Search .anticon.anticon-search svg{
  color: white;
}
/*End AdminContractManagement */